<%= form_with(model: user, class: "mb-7", data: { controller: "user-form" }) do |form| %>
<div data-user-modal-target="user-modal" class="hidden">
   <div data-controller="user-modal">


   <div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <!--
    Background backdrop, show/hide based on modal state.

    Entering: "ease-out duration-300"
      From: "opacity-0"
      To: "opacity-100"
    Leaving: "ease-in duration-200"
      From: "opacity-100"
      To: "opacity-0"
  -->
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
      <!--
        Modal panel, show/hide based on modal state.

        Entering: "ease-out duration-300"
          From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          To: "opacity-100 translate-y-0 sm:scale-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100 translate-y-0 sm:scale-100"
          To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      -->
      <div class="relative overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-md mx-auto">
      <div class="bg-white px-6 py-8">
        <div class="flex items-center justify-center">
          <div class="ml-4">
            <h3 class="text-lg font-semibold text-gray-900">User Profile</h3>
          </div>
        </div>
        <div class="mt-6">
        <%= form.text_field :name, id:"userName", required: true, maxlength: 25, placeholder: "First Name*", class: "w-full px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring " %>
        </div>
        <div class="mt-4">
          <%= form.text_field :nickname, placeholder: "Nickname", class: "w-full px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring " %>
        </div>
        <div class="mt-4">
          <%= form.text_field :email, id: "userEmail", placeholder: "Email*", class: "w-full px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring ", id:"userEmail" %>
        </div>
        <div class="mt-4">
          <%= form.text_field :phone, id:"userPhoneNumber", placeholder: "Phone*", class: "w-full px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring " %>
        </div>
        <!-- Use appropriate styling for the address field here (e.g., text_area or text_field) -->
        <div class="mt-4">
          <%= form.text_area :address,id:"userAddress", placeholder: "Address (JSON)*", class: "w-full px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring " %>
        </div>
      </div>
      <div class="bg-gray-50 px-6 py-4 flex justify-end items-center">
        <%= form.submit "Save", id:"userSaveButton" ,class: "px-4 py-2 bg-red-600 text-white font-semibold rounded-md hover:bg-red-500 focus:outline-none focus:ring " %>
        <button data-action="click->user-modal#closeModal" type="button" class="ml-4 px-4 py-2 text-gray-900 font-semibold border rounded-md border-gray-300 hover:bg-gray-100 focus:outline-none focus:ring focus:ring-gray-300">
          Close
        </button>
      </div>
    </div>
    
    </div>
  </div>

</div>


</div>

</div>

<% end %>